@model CarSystem.Models.car
@{
    ViewBag.Title = "addNewCar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>addNewCar</h2>




<div style="width:500px">
    <form method="post">
        <label>Enter The Registration Id</label>

        @Html.TextBoxFor(c => c.RegistrationId, new { @class = "form-control", @style = "float:left;margin-right:10px;margin-top:-5px;" })
        <span style="color:red;font-weight:bold">@Html.ValidationMessageFor(c => c.RegistrationId)</span> <br />


        <label>Enter The Car Name</label>
        @Html.TextBoxFor(c => c.carName, new { @class = "form-control" })
        <span style="color:red;font-weight:bold">
            @Html.ValidationMessageFor(c => c.carName)
        </span><br />


        <label>Enter The Model Number</label>
        @Html.TextBoxFor(c => c.Model, new { @class = "form-control" })
        <span style="color:red;font-weight:bold">
            @Html.ValidationMessageFor(c => c.Model)
        </span>

        <label>Enter The Rent Per Day</label>
        @Html.TextBoxFor(c => c.RentPerDay, new { @class = "form-control" })
        <span style="color:red;font-weight:bold">
            @Html.ValidationMessageFor(c => c.RentPerDay)
        </span>

        <label>Image URL</label>

        @Html.TextBoxFor(c => c.Image, new { @class = "form-control" })
        <span style="color:red;font-weight:bold">
            @Html.ValidationMessageFor(c => c.Image)
        </span><br />
        <label>Car Color</label>

        @Html.TextBoxFor(c => c.Color, new { @class = "form-control" })
        <span style="color:red;font-weight:bold">
            @Html.ValidationMessageFor(c => c.Color )
        </span><br />

        <div class="form-group" id="3">
            <label>Select AirConditioner</label>
            @Html.LabelFor(c => c.Conditioner)
            AC @Html.RadioButtonFor(c => c.Conditioner, true)
            NON AC @Html.RadioButtonFor(c => c.Conditioner, false)

        </div>

        <div class="form-group" id="3">
            <label>Select Fuletype</label>
            @Html.LabelFor(c => c.Fuletype)
            Petrol @Html.RadioButtonFor(c => c.Fuletype, true)
            Diesel @Html.RadioButtonFor(c => c.Fuletype, false)

        </div>

        @* <label>Select Fuletype</label>
        Petrol @Html.RadioButtonFor(c => c.Fuletype, true, new { @class = "form-control" })
        Diesel @Html.RadioButtonFor(c => c.Fuletype, false, new { @class = "form-control" })
        *@

        <div class="form-group" id="3">
            <label>Select CarStatus</label>
            @Html.LabelFor(c => c.Fuletype)
            Available @Html.RadioButtonFor(c => c.CarStatus, true)
            Rented @Html.RadioButtonFor(c => c.CarStatus, false)

        </div>
        @* <label>Select CarStatus</label>
        Available @Html.RadioButtonFor(c => c.CarStatus, true, new { @class = "form-control" })
        Rented @Html.RadioButtonFor(c => c.CarStatus, false, new { @class = "form-control" })
        *@
        <label>capacity</label>
        @Html.TextBoxFor(c => c.capacity, new { @class = "form-control" })
        <span style="color:red;font-weight:bold">
            @Html.ValidationMessageFor(c => c.capacity)
        </span><br />
        <input type="submit" value="Add New Car" class="btn btn-success" />
    </form>
</div>

<div style="background-color:orangered;color:yellow;font-weight:bold">
    @ViewData["r"]


</div>



