@model CarSystem.Models.Bank
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Total Ammount Needs to pay: @ViewData["tamount"]</p>
<p>Car Registration ID: @ViewData["CarID"]</p>
<p>Car Rent Per Day: @ViewData["RentPerday"]</p>
<p>Total Number of Days: @ViewData["tDays"]</p>
<p>Balance Amount in your bank account: @ViewData["balanceAmount"]</p>

<p>Total Ammount Needs to pay: @ViewData["tamount"]</p>

<form method="post">
    <div>
        <label>Enter the Bank Name</label>
        <input type="text" name="bankName" />
    </div>
    <div>
        <label>Enter the Account Number</label>
        <input type="text" name="AcNumber" />
    </div>

    <div>
        <label>Enter the Password</label>
        <input type="text" name="Password" />
    </div>
    <input type="submit" name="Pay" />


</form>



